/********************************************************************

Custom Grid

*********************************************************************/

*,
*::after,
*::before {
    box-sizing: border-box;
}

.row {
    max-width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

@media only screen and (max-width: 480px) {
    /* For Phones: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: orange;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: blue;
    }
}

@media only screen and (min-width: 1000px) {
    /* For Desktops: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        border: 1px solid black;
    }
}


/* -------------------------------- 

Page Scrolling

-------------------------------- */

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background-color: #22283f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 480px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

a {
    color: #267481;
    text-decoration: none;
}

.section {
    height: 100vh;
}

.section > div {
    height: 100vh;
    font-size: 2.0rem;
}

.section:first-of-type > div {
    background-color: #2b334f;
    z-index: 1000;
}

.section:nth-of-type(2) > div {
    background-color: #2e5367;
}

.section:nth-of-type(3) > div {
    background-color: #267481;
}

.section:nth-of-type(4) > div {
    background-color: #fcb052;
}

.section:nth-of-type(5) > div {
    background-color: #f06a59;
}


/* -------------------------------- 

Header Section 

-------------------------------- */

.logo p {
    color: #000;
    text-align: center
}

.nav-links nav {
    float: right;
    text-align: right;
}

.nav-links nav ul li {
    display: inline-block;
    width: 150px;
}

.nav-links nav ul li a {
    font-size: 18px;
}